# Virtual Environment
venv/
ENV/
env/
.venv/
bin/
lib/
include/

# Environment variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
